
<body class="about-backg">
    <div class="about-page">
      <% provide(:title, 'About') %>
      <h2>A photo App for Project 2</h2>
      <h4>Technologies include:</h4>
      <ul>
        <li class="remove-link"><a href="https://www.ruby-lang.org/">Ruby 2.2</a></li>
        <li class="remove-link"><a href="http://rubyonrails.org/">Rails 4.2</a></li>
        <li class="remove-link"><a href="http://www.postgresql.org/">PostgreSQL 9.4</a></li>
        <li class="remove-link"><a href="http://getbootstrap.com/">Twitter Bootstrap 3.3</a></li>
        <li class="remove-link"><a href="http://sass-lang.com/">SASS 3.4</a></li>
        <li class="remove-link"><a href="https://github.com/decioferreira/bootstrap-generators">bootstrap-generators 3.3</a></li>
        <li class="remove-link"><a href="https://rubygems.org/gems/paperclip/versions/4.3.6">Paperclip 5.0.0.beta2</a></li>
        <li class="remove-link"><a href="http://aws.amazon.com/s3/">AWS</a></li>
      </ul>
        <h2>Future Updates</h2>
        <ul>
            <li>Add like buttons</li>
            <li>Followers/Following</li>
            <li>Comments</li>
            <li>Include searchable tags on photos </li>
        </ul>



    </div>
</body>
