<% provide(:title, 'Home') %>
<body class= "home-page-body">
    <div class="text-center jumbotron home-page">
      <h1 class="main-title">PhotoShare</h1>
      <h3>Come share your photos us </h3>
      <br/>

      <br/>
      <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Log in", signin_path, class: "btn btn-large btn-primary" %>
    </div>
</body>
